body {
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

.custom-nav {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.masonry-grid {
    column-count: 3;
    column-gap: 1.5rem;
}

.masonry-grid>div {
    break-inside: avoid;
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    .masonry-grid {
        column-count: 2;
    }
}

@media (max-width: 640px) {
    .masonry-grid {
        column-count: 1;
    }
}

.form-control,
.form-select {
    height: 3rem !important;
    padding: 0.75rem !important;
}

.form-select {
    padding-right: 2.5rem !important;
}

textarea.form-control {
    height: 6rem !important;
}